<article class="container bg-primary-100 wrapper" style="--max-width: 800px">
  <h2 class="fs-secondary-heading fw-bold">Shorten your link simple and fast</h2>
  <p>
    The Short URL app allowes to shorten long links from all websites over the
    internet like YouTube, LinkedIn, StackOverflow etc. To get started, you have to be authorized 
    then you can go to the table tab where you just paste the long URL and click Shorten URL button.
    The Url will be shown under the form, to get more details you can go to table under the form and click the eye icon.
  </p>
  <h2 class="fs-secondary-heading fw-bold">How does the algorithm work</h2>
  <p>To generate the Short URL i've create a string with set of upper and lower case letters
    including numbers, then in a for loop we iterate for fixed number (length of unique code)
    and select random character. The unique code can never be the same due to check in a infinite while loop that will be executed until 
    the code is one of it's kind. And in the end a new Shorten URL being created by combining current website URL and the 
    Unique Code needed to identify it out of others.
  </p>
</article>
