.primary-header {
  display: flex;
  align-items: center;
  height: 75px;
}

.primary-header > .container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.primary-navigation, .user {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  font-size: var(--fs-nav);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-100);
}

.nav-list > li a {
  text-decoration: none;
}

.nav-list > li {
  padding: 0.5rem;
}

.logo {
  width: 50px;
  height: 50px;
}